<div id="main">

        <div class="header">
            <h1>Welkom</h1>
            <h2>op mijn portfolio website</h2>
        </div>

        <div class="content">

            <p>Ik ben Kimberly Dijkmans en dit is mijn online portfolio.
            Mijn portfolio bestaat voornamelijk nog uit schoolwerk maar ik hoop hier snel ander werk aan toe te voegen.
            Deze website is gemaakt met Harp en Sass in opdracht van het vak Informatietechnologie 3.</p>

            <%- partial("_portfolioitems") %>

        </div>

</div>
